    body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.table1{
    width: 77%;
}
.titrePage {
    font-family: 'Sedgwick Ave Display', cursive;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.margeImage {
    margin: 0 2% 2% 2%;
}

.topleft {
    width: 40%;
}

.topleft {
    width: 52%;
}

.ingredient {
    width: 100%;
}

    .inline-form input {
        display: inline-block;
        width: 100px;
    }

    .dropdown-submenu{position:relative;}
    .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;
        -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
    .dropdown-submenu:hover>.dropdown-menu{display:block;}
    .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;
        border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
    .dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
    .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;
                                                -webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.table.table-borderless td,
.table.table-borderless th {
    border-top: 0;
}

    footer { background-color: #222; min-height:100px; font-family: 'Open Sans', sans-serif; }
    .footerleft { margin-top:10px; padding:0 36px; }
    .logofooter { margin-bottom:10px; font-size:15px; color:#fff; font-weight:700;}

    .footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
    .footerleft p i { width:20px; color:#999;}


    .paddingtop-bottom {  margin-top:50px;}
    .footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
    .footer-ul li { line-height:29px; font-size:12px;}
    .footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
    .footer-ul i { margin-right:10px;}
    .footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

    .social:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }




    .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
    .icon-ul li { line-height:75px; width:100%; float:left;}
    .icon { float:left; margin-right:5px;}


    .copyright { min-height:40px; background-color:#000000;}
    .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
    .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
    .post p { font-size:12px; color:#FFF; line-height:20px;}
    .post p span { display:block; color:#8f8f8f;}
    .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
    .bottom_ul li { float:left; line-height:40px;}
    .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
    .bottom_ul li a { color:#FFF;  font-size:12px;}

    .thumbnail {
        position: relative;
        padding: 0px;
        margin-bottom: 20px;
    }

    .thumbnail > h4 {
        padding: 7px 5px 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .thumbnail h4 .info {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 0.6em;
        padding-left: 15px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 4px;
        border-radius: 0px;
        border-bottom-left-radius: 5px;
        cursor:  pointer;
    }

    .thumbnail h4 .info > span {
        margin-right: 10px;
    }

    .thumbnail img {
        width: 100%;
    }
    .thumbnail a.btn {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }