body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.table1{
    width: 77%;
}

.topleft {
    width: 40%;
}

.topleft {
    width: 52%;
}

.ingredient {
    width: 100%;
}
